/*About page*/

.about-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1.5rem;
  font-family: "Arial", sans-serif;
  border-radius: 12px;
}

.about-box p {
  text-align: left;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
}

.about-text {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.startbutton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.get-started {
  background-color: #4620f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 60px;
}
.get-started:hover {
  background-color: rgb(255, 136, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.3rem;
}

.hero-container {
  background-image: url("../img/dark-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left;
}

.hero-text p {
  text-align: left;
  margin-left: 5rem;
  padding-top: 7rem;
  color: white;
  max-width: 350px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
}

.about-page {
  background-color: rgb(50, 50, 50);
  background-size: cover;
  padding: 5px;
}

@media (max-width: 599px) {
  .hero-container {
    background-image: url("../img/dark-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 50vh;
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .hero-container {
    background-image: url("../img/dark-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: block;
  }
}
