.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.space {
  flex: 1;
}

.header-center {
  flex: 1;
  text-align: center;
  min-width: 40rem;
  height: 100%;
  margin: 1rem;
}

.header-profile {
  flex: 1;
  text-align: right;
}

.gender-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gender-button {
  background-color: #4620f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 60px;
}

.gender-button:hover {
  background-color: rgb(255, 136, 0);
}

.gender-button-link {
  margin-top: 3rem;
}

.man {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  margin-left: 0px;
  margin-right: 0px;
}

.woman {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .arrows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }

  .left,
  .right {
    width: 100%;
    max-width: 10rem;
  }

  .gender-page {
    flex-direction: column;
    gap: 2rem;
  }

  .gender-button {
    width: 100%;
    width: 12rem;
    height: 4rem;
    font-size: 1.2rem;
  }

  .man,
  .woman {
    margin-bottom: 3rem;
  }
}

.gender-icon {
  width: 250px;
}
