body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: url("../img/image.png") no-repeat center center / cover;
}

.top-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #5336dc, #ed8939);
  padding: 20px 40px;
}

.top-bar h1 {
  font-size: 24px;
  text-align: center;
  flex: 1;
}

.profile-icon {
  position: absolute;
  right: 40px;
}

.profile-icon img {
  width: 32px;
  height: 32px;
}

/*Arrows*/

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
  margin-top: 3rem;
}
.left,
.right {
  width: 7rem;
}

/*Main container*/

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.goals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.goal-btn {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 15px 20px;
  text-align: left;
  gap: 15px;
  cursor: pointer;
  transition: border 0.3s ease;
  color: white;
  backdrop-filter: blur(10px);
}

.goal-btn.selected {
  border-color: orange !important;
}

.goal-btn img {
  width: 40px;
  height: 40px;
}

.goal-btn h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.goal-btn p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #eee;
}

@media (max-width: 768px) {
  .arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 2rem;
  }
  .left,
  .right {
    width: 5rem;
  }
}
