.SweatZone {
  padding-top: 4rem;
}

.page {
  width: 100%;
  height: 40rem;

  display: flex;
  flex-direction: row-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  margin: 4rem;
  margin-top: 5rem;
}

.titles h1 {
  margin-bottom: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.start-button {
  background-color: var(--purple);
}

.start-button:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}
