:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #4620f3;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.space {
  flex: 1;
}

.header-center {
  flex: 1;
  text-align: center;
  min-width: 40rem;
  height: 100%;
  margin: 1rem;
}

.header-profile {
  flex: 1;
  text-align: right;
}

/*Body part selection page*/

.part-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyparts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: rgba(34, 93, 144, 0.01);
  backdrop-filter: blur(0.3rem);
  box-shadow: inset 0rem 0rem 0.5rem 0.5rem rgb(10, 10, 10);
  box-shadow: inset 0rem 0rem 0.1rem 0.1rem rgb(50, 50, 50);
  border-radius: 1rem;
}

.body {
  width: 20rem;
  height: 20rem;
}

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: -7rem;
}
.part,
.full {
  background-color: #4620f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.part:hover,
.full:hover {
  background-color: #4620f3;
  outline-color: rgb(255, 136, 0);
}

.selected {
  background-color: rgb(255, 136, 0);
  color: white;
}
.selected:hover {
  background-color: rgb(255, 136, 0);
  outline-color: #4620f3;
}
