/*Profile page*/

.general-info,
.your-profile {
  font-size: 0.8rem;
  text-align: left;
  margin: 0.2rem;
}

.profile-1,
.profile-2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#profile {
  width: 60%;
}

.profile-buttons {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem;
  margin-top: 15rem;
}

.profilebutton {
  background-color: #4620f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
}

.logoutbutton {
  background-color: #0000ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 60px;
}

.logoutbutton:hover {
  outline-color: rgb(255, 136, 0);
}

@media (max-width: 899px) {
  .profile-buttons {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 15rem;
  }
  .profilebutton {
    width: 120px;
    height: 32px;
  }

  .logoutbutton {
    width: 160px;
    height: 48px;
  }
}
