:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #4720f3;
  --svg: #2d159ade;
}

a {
  text-decoration: none;
  color: var(--orange);
  font-size: larger;
}

/*used this video for inspiration: https://www.youtube.com/watch?v=bVl5_UdcAy0&t=1s*/

.login-phrase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.submit {
  margin-top: 4rem;
  background-color: var(--purple);
  width: 8rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.form-centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.sign-up {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  margin-bottom: 7rem;
}

form {
  width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 100%;
  width: 15%;
  border: 0;
  background-color: var(--purple);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.incorrect label {
  background-color: red;
}

form input {
  background-color: var(--svg);
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 3rem;
  padding: 1rem;
  color: var(--text);

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  border: 0;
}

form label img {
  height: 100%;
  width: 50%;
  margin-left: 1rem;
}

form label img:hover {
  border: 2px;
  border-color: var;
}

form input:hover {
  border: 2px solid var(--orange);
}

form input:focus {
  outline: none;
}

div:has(input:focus) > label {
  background-color: var(--orange);
}
