:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #4620f3;
}

/*header*/

/*Weight*/

.weight-container {
  margin-bottom: 10rem;
}

.weight-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
}

#color-changer {
  font-size: 4rem;
}

.slider-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  height: 5rem;
  width: 15rem;
}

.range {
  width: 40rem;
  height: 1rem;
  -webkit-appearance: none;
  background-color: var(--purple);
  justify-content: center;
}

.range::-webkit-slider-thumb {
  transform: scale(1.7);
  background-color: var(--orange);
  transition: 100ms ease;
}

.range::-webkit-slider-thumb:hover {
  transform: scale(2);
}

.slider-instruction {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.8rem; 
  color: #FFF;
}
