:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #4620f3;
}

* {
  margin: 0px;
  padding: 0px;
}

@keyframes button-animation {
  0% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--text);
  }

  100% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
  }
}

h1 {
  color: var(--title);
  font-size: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--title);
  font-size: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 3rem;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--text);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(34, 93, 144, 0.01);
  backdrop-filter: blur(0.3rem);
  box-shadow: inset 0rem 0rem 0.5rem 0.5rem rgb(10, 10, 10);
  box-shadow: inset 0rem 0rem 0.1rem 0.1rem rgb(50, 50, 50);
  border-radius: 5rem;
  border: 0px;
  width: 20rem;
  height: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--text);
}

button:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/image.png);
}

header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
  min-height: 5rem;
  margin: 0px;
  min-height: 5rem;
  margin: 0rem;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 5rem;
  position: absolute;
}

.header-titles {
  padding-left: 3rem;
  display: flex;
  gap: 5rem;
}

.header-profile {
  padding-right: 3rem;
}

.SweatZone {
  padding-top: 4rem;
}

.page {
  width: 100%;
  height: 40rem;

  display: flex;
  flex-direction: row-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 93, 144, 0.01);
  backdrop-filter: blur(0.3rem);
  box-shadow: inset 0rem 0rem 0.2rem 0.2rem rgb(183, 183, 183);
  box-shadow: inset 0rem 0rem 0.1rem 0.1rem rgb(122, 100, 134);
  border-radius: 1rem;

  margin: 4rem;
  margin-top: 5rem;
}

.titles {
  margin-bottom: 3rem;
}

.start-button {
  background-color: var(--purple);
}

.start-button:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

.arrows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 65rem;
}

#back {
  width: 7rem;
  margin: 3rem;
  background-color: var(--purple);
}

#back:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

#next {
  width: 7rem;
  margin: 3rem;
  background-color: var(--purple);
}

#next:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

/*Weight*/

.weight-container {
  margin-bottom: 10rem;
}

.weight-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 93, 144, 0.01);
  backdrop-filter: blur(0.3rem);
  box-shadow: inset 0rem 0rem 0.5rem 0.5rem rgb(10, 10, 10);
  box-shadow: inset 0rem 0rem 0.1rem 0.1rem rgb(50, 50, 50);
  margin-left: 20rem;
  margin-right: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
}

#color-changer {
  font-size: 4rem;
}

#weight-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  height: 5rem;
  width: 15rem;
}

#height-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  height: 5rem;
  width: 15rem;
}

#age-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  height: 5rem;
  width: 15rem;
}

.range {
  width: 40rem;
  height: 1rem;
  -webkit-appearance: none;
  background-color: var(--purple);
  justify-content: center;
}
