:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #4620f3;
}

* {
  margin: 0px;
  padding: 0px;
}

/*animations*/
@keyframes arrow-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes button-animation {
  0% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--text);
  }

  100% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
  }
}

h1 {
  color: var(--title);
  font-size: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--title);
  font-size: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 3rem;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--text);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--text);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(34, 93, 144, 0.01);
  backdrop-filter: blur(0.3rem);
  box-shadow: inset 0rem 0rem 0.5rem 0.5rem rgb(10, 10, 10);
  box-shadow: inset 0rem 0rem 0.1rem 0.1rem rgb(50, 50, 50);
  border-radius: 5rem;
  border: 0px;
  width: 20rem;
  height: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--text);
}

button:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/image.png);
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
  min-height: 5rem;
  margin: 0px;
  margin: 0rem;
  width: 100%;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 4rem;
}

header h2 {
  white-space: nowrap;
  font-size: 1.3rem;
}

.header-titles img {
  width: 4%;
}

.header-profile img {
  width: 80%;
}

.header-titles {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  gap: 0rem;
}

.header-titles a h2 {
  transition: transform 200ms ease;
}

.header-titles a h2:hover {
  transform: scale(1.1);
}

.header-profile {
  width: 5rem;
}

/*Header for questions*/

.question-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.question-titles a img {
  width: 50px;
  height: auto;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
}

footer h2 {
  font-size: 1.5rem;
  white-space: nowrap;
}

footer p {
  font-size: 1rem;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.social-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.social-container img {
  width: 48px;
  height: 48px;
}

.footer-elements {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Arrows*/

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.left,
.right {
  width: 5rem;
  transition: transform 0.3s ease;
}

.left:hover,
.right:hover {
  transform: scale(1.1);
}

/*Profile page*/

.general-info,
.your-profile {
  font-size: 0.8rem;
  text-align: left;
  margin: 0.2rem;
}

.profile-1,
.profile-2,
.profile-3,
.profile-4 {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

#profile {
  width: 60%;
}

.profile-buttons {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem;
}

.profilebutton {
  background-color: #4620f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
}
.logoutbutton {
  background-color: #0000ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 60px;
}
.logoutbutton:hover {
  outline-color: rgb(255, 136, 0);
}

.profilebutton:hover {
  background-color: rgb(255, 136, 0);
}
