:root {
  --blue: #0000ff;
  --orange: rgb(255, 136, 0);
  --text: rgba(255, 255, 255, 0.769);
  --title: rgba(255, 255, 255, 0.883);
  --purple: #6140f1;
}

* {
  margin: 0px;
  padding: 0px;
}

/*animations*/
@keyframes arrow-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes button-animation {
  0% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--text);
  }

  100% {
    box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
  }
}

button {
  border: 0;
  border-radius: 1rem;
  color: var(--title);
}

h1 {
  color: var(--title);
  font-size: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: var(--title);
  font-size: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 3rem;
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--text);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--text);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
}

button:hover {
  animation-name: button-animation;
  animation-duration: 0.5s;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--orange);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/image.png);
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
  min-height: 5rem;
  margin: 0px;
  margin: 0rem;
  width: 100%;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 4rem;
}

header h2 {
  white-space: nowrap;
  font-size: 1.3rem;
}

.header-titles img {
  width: 50px;
  height: auto;
}

.header-profile img {
  width: 50px;
}

.header-titles {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  gap: 0rem;
}

.header-titles a h2 {
  transition: transform 200ms ease;
}

.header-titles a h2:hover {
  transform: scale(1.1);
}

.header-profile {
  width: 7rem;
}

.header-profile img {
  transition: transform 200ms ease;
}

.header-profile img:hover {
  transform: scale(1.1);
}

.a-profile {
  width: 1rem;
}

.header-profile img {
  width: 300%;
  min-width: 50px;
  height: auto;
}

/*Header for questions*/

.question-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.question-titles a img {
  width: 50px;
  height: auto;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--blue), var(--orange));
  backdrop-filter: blur(0.3rem);
}

footer h2 {
  font-size: 1.5rem;
  white-space: nowrap;
}

footer p {
  font-size: 1rem;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.social-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.social-container img {
  width: 48px;
  height: 48px;
}

.footer-elements {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Arrows*/

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.left,
.right {
  width: 5rem;
  transition: transform 0.3s ease;
}

.left:hover,
.right:hover {
  transform: scale(1.1);
}

/*hamburger*/

.three-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-lines {
  font-size: 3rem;
  color: var(--title);
  transition: transform 0.3s ease;
}

.three-lines:hover {
  transform: scale(1.2);
}

#toggle {
  all: unset;
  cursor: pointer;
}

#hamburger {
  display: flex;
  justify-content: center;
}

/*slider page menu hamburger*/

.hamburger-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.middle-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right-burger {
  margin-left: auto;
}

/*drop down menu*/

ul {
  z-index: 2;
  position: absolute;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--purple);
  border: 2px solid transparent;
  border-radius: 15px;
  gap: 1rem;
  padding: 0.5rem;
}

ul a {
  text-decoration: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  font-family: "Poppins", sans-serif;
}

ul a:hover {
  transform: scale(1.1);
}
